{% extends 'pins/layouts/base.html.twig' %}

{% block title %} Edit Pin {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto bg-light border p-2 mb-5">
            <h2 class="text-center mb-4">Update Pin id {{ pin.id }}</h2>


            {{ include('pins/layouts/partials/form.html.twig', {submitText : 'Update Pin'}) }}

        </div>
    </div>
{% endblock %}





