
<div class="row">
    <div class="col-md-6  mx-auto text-center"> 
        {% for label, messages in app.flashes(['success', 'notice', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>