{#<div class="row">
    <footer class="footer  mt-auto fixed-bottom py-2 bg-dark col">
        <div class="container">
            <span class="text-muted text-center">Place sticky footer content here!</span>
        </div>
    </footer>
</div>#}

<div class="row">
    <footer>
        <div class=" text-muted text-center py-2 mt-auto fixed-bottom bg-dark">
            
            <span> &copy; {{ 'now'|date('Y') }} &middot;
                
            <a href="https://MyTerest.com/" class="text-decoration-none text-muted"> MyTerest.com</a>
            
            </span>
            
        </div>
    </footer>
</div>