

<div class="row">
    <footer>
        <div class=" text-muted text-center py-2 mt-auto fixed-bottom bg-dark">
            
            <span> &copy; {{ 'now'|date('Y') }} &middot;
                
            <a href="https://MyTerest.com/" class="text-decoration-none text-muted"> MyTerest.com</a>
            
            </span>
            
        </div>
    </footer>
</div>