@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "~bootstrap/scss/bootstrap";



body {
    font-family: 'Roboto', sans-serif;
   }




.vich-image .form-check {
    @extend .mt-4;

}

.vich-image img {
    @extend .rounded; 
    @extend .shadow ; 
    @extend .img-thumbnail ;

}

.article_pin img:hover {
    transition: all ease 0.5s;
    transform: scale(1.1);
}



.form {
    max-height: 100vh;
}